.to-do-container {
  position: relative;
  width: 1000px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #fb5849;
}
.to-do-container .to-do {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 55px;
  left: 100px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  border: 1px solid #fb5849;
  border-radius: 10px;
  background-color: #fb5849;
}
.to-do span,
.to-do-del span {
  font-size: 20px;
  font-weight: 700;
  color: 10px;
}
.to-do-container .to-do-del {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 55px;
  right: 100px;
  color: #fb5849;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #fb5849;
  border-radius: 10px;
}
.to-do-container .list {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 450px;
}
.to-do-container .list ol {
  padding: 10px;
}
.to-do-container .list ol li {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  color: #fb5849;
  letter-spacing: 3px;
  line-height: 40px;

}
.to-do-container input {
  position: absolute;
  width: 800px;
  height: 30px;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #fb5849;
  border-radius: 10px;
}